Cython==0.29.34
google_cloud_aiplatform==1.25.0
hyperopt==0.2.5
matplotlib==3.7.1
networkx==3.1
networkx==3.0
numpy==1.18.5
openai==0.27.2
pandas==1.1.5
Pillow==9.4.0
Pillow==9.5.0
pip==23.0.1
PyYAML==5.4.1
PyYAML==6.0
Requests==2.30.0
scikit_learn==0.24.1
scipy==1.4.1
setuptools==65.6.3
sphinx_rtd_theme==1.2.0
tensorflow==2.3.2
tiktoken==0.3.2
torch==2.0.0
torch_geometric==2.3.1
torch_sparse==0.6.17
tqdm==4.58.0

